language: java
sudo: false
install: true

jdk:
  - openjdk8
  
git:
  depth: false

addons:
  sonarcloud:
    organization: "tharindu-bandara"

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=tharindu-bandara_identity-outbound-auth-sms-otp-1

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
